body {
    font-family: Arial, Helvetica, sans-serif, Microsoft JhengHei;
    margin: 0;
}

.content {
    height: 100%;
}
/* Menu 階層一 */
.navbar {
    overflow: hidden;
    background-color: rgb(20, 19, 19); 
}

/* Menu 階層一 按鈕(無子階層) */
.navbar a {
    float: left;
    font-size: 28px;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

/* Menu 階層二 */
.subnav {
    float: left;
    overflow: hidden;
}

/* Menu 階層二 按鈕(有子階層) */
.subnav .subnavbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/*Menu 階層二 按鈕 懸浮變色 */
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(48, 40, 40);
}

/*Menu 階層三(子項目) */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(48, 40, 40);
    width: 100%;
    z-index: 1;
}

/*Menu 子項目清單內容 */
.subnav-content a {
    float: left;
    color: white;
    font-size: 16px;  
    text-decoration: none;
}

/* Menu 階層三 指標懸浮 */
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

/* 懸浮顯示 */
.subnav:hover .subnav-content {
    display: block;
}