.invalidInput {
    padding: 15px;
    margin: 5px 0 22px 10px;
    background: #f8d5d2;
    font-size: 16pt;
}

.invalidText {
    padding: 15px;
    font-size: 16pt;
    color: red;
}

.validInput {
    padding: 15px;
    margin: 5px 0 22px 10px;
    background: #d2f8e7;
    font-size: 16pt;
}

input {
    padding: 15px;
    margin: 5px 0 22px 10px;
    border: none;
    background: #d2f8e7;
    font-size: 16pt;
    width: 150px
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li{
    list-style-type:none;
}

p {
    font-size: 16pt;
}