* {
	/* content-box：預設值，實際寬高＝所設定的數值＋border＋padding
	border-box：實際寬高＝所設定的數值(已包含border和padding) */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
			box-sizing: border-box;
  }
/* .content{margin:100px auto;padding:5px;width:400px;height:400px;border:1px solid black;}
.right{float:right;}
.div1{width:220px;height:120px;border:1px solid black;margin:5px;}
.div2{width:220px;height:120px;border:1px solid green;margin:5px;}
.div3{width:220px;height:120px;border:1px solid blue;margin:5px;}
.div4{width:150px;height:380px;border:1px solid red;float:left;} */


/* 錶盤(含錶面與按鈕) */
.timer{
	margin: 30px auto;
	padding:10px;
	background:#525253;
	border-radius: 10px;
	width: 300px;
	height:200px;
}

/* 錶面 */
.clockView{
	margin:10px auto;
	padding:5px;
	background:#000000;
	border-radius: 10px;
	width:260px;	
	height:90px;
}

/* 錶面-數字 */
.clock-time{
	margin:5px;
	padding:3px;
	/* background:#0f4fff; */
	/* border: solid #ff0000 1px;  */
	width:60px;	
	height:70px;
	float: left;
	text-align: center;
	font-family:fantasy;
	font-size: 50px;
	color:#ffffff;
}

/* 錶面-冒號 */
.clock-div{
	margin:5px 1px;
	/* background:#0f4fff; */
	/* border: solid #ff0000 1px;  */
	width:15px;	
	height:70px;
	float: left;
	text-align: center;
	font-family:fantasy;
	font-size: 50px;
	color:#ffffff;
}

/* 錶面-加減按鈕區塊 */
.clockBtn{
	margin:auto auto;
	padding:2px;
	background:#c2c2c2;
	/* border: solid #ffffff 1px;  */
	border-radius: 10px;
	width:260px;	
	height:30px;
	line-height: 30px; 
}

/* 錶面－設定按鈕區塊 */
.clockBtn-Set{
	margin:2px auto;
	padding:2px;
	/* background:#ffffff; */
	/* border: solid #ffffff 2px;  */
	border-radius: 10px;
	width:260px;	
	height:30px;
}

/* 按鈕－加減 */
.button-time{
	margin:2px 5px;
	background:#000000e8;
	border-radius: 100%;
	width:20px;	
	height:20px;
	line-height: 20px; 
	text-align: center;
	font-family:fantasy;
	font-size: 12px;
	font-weight:bold;
	color:#ffffff;
	float:left;
	cursor: pointer;	
}

/* tab-button 指標懸浮*/
div.button-time:hover {
    background-color: rgb(56, 56, 56);
    color: white;   /*字體顏色*/
}

/* 按鈕－冒號間隔 */
.button-div{
	margin:auto auto;
	padding:1px;
	width:30px;	
	height:20px;
	line-height: 20px; 
	text-align: center;
	float:left;
}

/* 按鈕－設定按鈕 */
.button-Set{
	margin:auto 10px;
	background:#ffffff;
	width:60px;	
	height:20px;
	border-radius: 10px;
	line-height: 20px; 
	text-align: center;
	font-weight:bold;
	font-family:Microsoft JhengHei;
	float: left;
	cursor: pointer;
}

/* tab-button 指標懸浮*/
span.button-Set:hover {
    background-color: rgb(56, 56, 56);
    color: white;   /*字體顏色*/
}

/* .timeSetBtn { 
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	background:  #8c9bee;
	border: solid #c7ddf7 2px; 
	width: 15px;
	height: 15px;
	line-height: 15px; 
	font-size:  2em sans-serif;
	padding: 5px;
	border-radius: 10px;	
	text-align: center;
	display: block;
	perspective: 40px;
	position: relative;
	cursor: pointer;	
}  */

/* #clock{
	float: left;
	color:white;
	font: 2em sans-serif; 
	background: black; 
	margin: 20px;
	padding: 5px;
	border: solid gray 2px; 
	border-radius: 10px;
	width: 250px;
	text-align:center;
  }

  
#clockbackground{
	color:white;
	font: 2em sans-serif; 
	background: black; 
	margin: 5px;
	padding: 5px;
	border: solid gray 2px; 
	border-radius: 10px;
	width: 300px;
	text-align:center;
  } */